.header-bar {
	background-color: #282c34;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	color: white;
	gap: 1em;
	padding: 0px 20px;
}

.header-bar h1 {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}

.no-link-style {
	color: inherit; /* Make the color the same as the surrounding text */
	text-decoration: none; /* Remove underline */
	cursor: default; /* Optional: Change the cursor to default instead of pointer */
}